@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

#navbar .navbar-brand {
  color: #c2d3d1;
  text-transform: uppercase;
  font-weight: 500;
}

#navbar .nav-link {
  color: #c2d3d1;
  text-transform: capitalize;
}

#navbar button {
  background-color: white;
}

#title-head {
  padding: 50px;
  font-size: 1rem;
}

#content {
  margin-top: 50px;
  margin-bottom: 50px;
}

#content img {
  margin-top: 30px;
}

#contact div {
  margin: 15px 0;
}
